{{ define "upload" }}
{{ template "base" . }}
{{ block "title" . }}Upload File{{ end }}

{{ block "content" . }}
<div class="d-flex justify-content-center mt-5">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title text-center">Upload File</h2>
            <form id="upload-form">
                <div class="mb-3">
                    <label for="file" class="form-label text-center">Choose a file</label>
                    <input class="form-control" type="file" id="file" name="file" required>
                </div>
                <button type="submit" class="btn btn-dark d-block mx-auto">
                    <span>Confirm</span>
                </button>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById('upload-form').addEventListener('submit', function (event) {
        event.preventDefault();

        const formData = new FormData(this);

        fetch('/api/upload', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
                const fileList = JSON.parse(localStorage.getItem('fileList')) || [];
                fileList.push(data);
                localStorage.setItem('fileList', JSON.stringify(fileList));
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred while uploading the file: ' + error.message);
            });
    });
</script>

{{ end }}
{{ end }}