{{ define "upload" }}
{{ template "base" . }}
{{ block "title" . }}Upload File{{ end }}

{{ block "content" . }}
<div class="d-flex justify-content-center mt-5">
    <div class="card" style="width: 500px;">
        <div class="card-body">
            <h2 class="card-title text-center">Upload File</h2>
            <form id="upload-form">
                <div class="mb-3">
                    <label for="file" class="form-label text-center">Choose a file</label>
                    <input class="form-control" type="file" id="file" name="file" required
                        style="border-radius: 1rem; border: none; background-color: #f5f5f5;">
                </div>
                <button type="submit" class="btn btn-dark d-block mx-auto"
                    style="border-radius: 1rem; width: 120px; border: none; background-color: black;">
                    <span style="font-size: 1.2rem; color: white;">Confirm</span>
                </button>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById('upload-form').addEventListener('submit', function (event) {
        event.preventDefault();

        const formData = new FormData(this);

        fetch('/api/upload', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred while uploading the file: ' + error.message);
            });
    });
</script>

{{ end }}
{{ end }}